html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

body {
  white-space: nowrap;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  #main-canvas {
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    background-color: #000;
  }
}
